.accordion-header{
    margin-bottom: 0 !important;
}

.accordion-button{
    padding: 5px 20px !important;
    color: black !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.accordion-button:not(.collapsed){
    background-color: #41cb5a3b;
}