.privacy-policy-section{
    padding: 40px 0;
}

.privacy-policy-section h1{
    font-weight: 600;
}

.privacy-policy-section a{
    color: black;
    font-weight: 400;
}

.privacy-policy-section .content-div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}